<form method="POST" action="/admin/products/edit/{{data.id}}">
	<table>
    <caption>Edit Product</caption>
		<tr>
		 <td valign="top">
		  <label for="name">Name:</label>
		 </td>
		 <td valign="top">
		  <input type="text" name="name" size="30" value="{{data.name}}" pattern=".{3,}" required="true">
		 </td>
	  </tr>
	  <tr>
		 <td valign="top">
		  <label for="stock">Stock:</label>
		 </td>
		 <td valign="top">
		  <input type="number" min="0" name="stock" size="5" value="{{data.stock}}" required="true">
		 </td>
	  </tr>
		<tr>
		 <td valign="top">
		  <label for="description">Description:</label>
		 </td>
		 <td valign="top">
		  <textarea name="description" cols=="100" rows="5">{{data.description}}</textarea>
		 </td>
	  </tr>
		<tr>
		 <td valign="top">
		  <label for="price">Price:</label>
		 </td>
		 <td valign="top">
		  <input  type="number" min="0" step="any" name="price" size="9" value="{{data.price}}" required="true">
		 </td>
	  </tr>
		<tr>
			<td valign="top">
			 <label for="price">Color:</label>
			</td>
			<td valign="top">
				<input type='text' id="color" name="color" value="{{data.color}}"/>
			</td>
		</tr>
	  <tr>
	 	 <td colspan="2">
	  	<input type="submit" width="100"/>
	   </td>
	  </tr>
 </table>
</form>


 <script>
 $(function () {
	 $('#color').colorpicker({ useAlpha: false });
 });
</script>
